@font-face {
  font-family: 'fontello';
  src: url('@/assets/styles/scss/global/icon/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-th-large:before { content: '\e805'; } /* '' */
.icon-th:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-ok-circled2:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e80d'; } /* '' */
.icon-cancel-circled2:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-help-circled:before { content: '\e811'; } /* '' */
.icon-info-circled:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */
.icon-lock:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-eye-off:before { content: '\e817'; } /* '' */
.icon-attention:before { content: '\e818'; } /* '' */
.icon-attention-circled:before { content: '\e819'; } /* '' */
.icon-folder:before { content: '\e81a'; } /* '' */
.icon-folder-open:before { content: '\e81b'; } /* '' */
.icon-cog:before { content: '\e81c'; } /* '' */
.icon-cog-alt:before { content: '\e81d'; } /* '' */
.icon-wrench:before { content: '\e81e'; } /* '' */
.icon-basket:before { content: '\e81f'; } /* '' */
.icon-calendar:before { content: '\e820'; } /* '' */
.icon-login:before { content: '\e821'; } /* '' */
.icon-logout:before { content: '\e822'; } /* '' */
.icon-volume-off:before { content: '\e823'; } /* '' */
.icon-volume-up:before { content: '\e824'; } /* '' */
.icon-clock:before { content: '\e825'; } /* '' */
.icon-block:before { content: '\e826'; } /* '' */
.icon-resize-full:before { content: '\e827'; } /* '' */
.icon-resize-small:before { content: '\e828'; } /* '' */
.icon-off:before { content: '\e829'; } /* '' */
.icon-hammer:before { content: '\e82a'; } /* '' */
.icon-book:before { content: '\e82b'; } /* '' */
.icon-barcode:before { content: '\e82c'; } /* '' */
.icon-down-open:before { content: '\e82d'; } /* '' */
.icon-left-open:before { content: '\e82e'; } /* '' */
.icon-right-open:before { content: '\e82f'; } /* '' */
.icon-up-open:before { content: '\e830'; } /* '' */
.icon-search:before { content: '\e831'; } /* '' */
.icon-mail:before { content: '\e832'; } /* '' */
.icon-camera:before { content: '\e833'; } /* '' */
.icon-videocam:before { content: '\e834'; } /* '' */
.icon-play:before { content: '\e836'; } /* '' */
.icon-stop:before { content: '\e837'; } /* '' */
.icon-pause:before { content: '\e838'; } /* '' */
.icon-target:before { content: '\e839'; } /* '' */
.icon-award:before { content: '\e83a'; } /* '' */
.icon-globe:before { content: '\e83b'; } /* '' */
.icon-qrcode:before { content: '\e83c'; } /* '' */
.icon-chart-bar:before { content: '\e83d'; } /* '' */
.icon-adjust:before { content: '\e83e'; } /* '' */
.icon-font:before { content: '\e83f'; } /* '' */
.icon-gift:before { content: '\e840'; } /* '' */
.icon-camera-alt:before { content: '\e841'; } /* '' */
.icon-tag:before { content: '\e842'; } /* '' */
.icon-tags:before { content: '\e843'; } /* '' */
.icon-bookmark:before { content: '\e844'; } /* '' */
.icon-comment:before { content: '\e845'; } /* '' */
.icon-chat:before { content: '\e846'; } /* '' */
.icon-bell:before { content: '\e847'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
