html {
  font-family: "Quicksand", "Noto Sans TC";
  font-smooth: always;
  p, pre {
    margin: 0;
    padding: 0;
  }
}
html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-y: overlay;
  overflow-x: hidden;
}
