@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}

@mixin center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap
}

@mixin flex($gap: 0) {
  display: flex;
  align-items: center;
  gap: $gap
}

@mixin column($gap: 0) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap
}

@mixin text-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-break {
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@mixin btn-click {
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  &:active {
    transform: scale(0.92);
  }
}

@mixin select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin img-lock {
  -webkit-user-drag: none; // 不可拖曳圖片
  pointer-events: none; //防止拖拉圖片
  -webkit-touch-callout: none; // ios禁用菜單
  display: block;
}

// mix-blend-mode 混合
// -------------------------------------------------------------------------------------------------
@mixin font($size: 14px, $weight: 400, $family: "") {
  font-weight: $weight; // 400, 700

  @if ($family == "") {
    font-family: "Quicksand", "Noto Sans TC";
  } 
  @if ($family != "") {
    font-family: $family;
  } 
  font-size: $size;
  line-height: calc($size * 1.4);
  letter-spacing: calc($size / 10);
}
// 定位 -------------------------------------------------------------------------------------------------
@mixin absolute($direction: "top-left" ,$a-pos: 0, $b-pos: $a-pos) {
  position: absolute;
  @if ($direction == "top-left") {
    top: $a-pos;
    left: $b-pos;
  }
  @if ($direction == "top-right") {
    top: $a-pos;
    right: $b-pos;
  }
  @if ($direction == "bottom-left") {
    bottom: $a-pos;
    left: $b-pos;
  }
  @if ($direction == "bottom-right") {
    bottom: $a-pos;
    right: $b-pos;
  }
  @if ($direction == "fill") {
    top: $a-pos;
    right: $b-pos;
    bottom: $a-pos;
    left: $b-pos;
  }
}

@mixin fixed($direction: "top-left" ,$a-pos: 0, $b-pos: $a-pos) {
  position: fixed;
  @if ($direction == "top-left") {
    top: $a-pos;
    left: $b-pos;
  }
  @if ($direction == "top-right") {
    top: $a-pos;
    right: $b-pos;
  }
  @if ($direction == "bottom-left") {
    bottom: $a-pos;
    left: $b-pos;
  }
  @if ($direction == "bottom-right") {
    bottom: $a-pos;
    right: $b-pos;
  }
  @if ($direction == "fill") {
    top: $a-pos;
    right: $b-pos;
    bottom: $a-pos;
    left: $b-pos;
  }
}

// 字框 -------------------------------------------------------------------------------------------------
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}
/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}