@mixin size($width: 100%, $height: $width) {
  width: $width;
  height: $height;
}


@mixin center($gap: 0) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap
}

@mixin flex($gap: 0) {
  display: flex;
  align-items: center;
  gap: $gap
}

@mixin column($gap: 0) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap
}

@mixin text-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-break {
  // word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@mixin btn-click {
  cursor: pointer;
  user-select: none; 
  &:active {
    transform: scale(0.92);
  }
}

@mixin select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin img-lock {
  -webkit-user-drag: none; // 不可拖曳圖片
  pointer-events: none; //防止拖拉圖片
  -webkit-touch-callout: none; // ios禁用菜單
}

// -------------------------------------------------------------------------------------------------
@mixin font($size: 14px, $weight: 400, $family: "") {
  font-weight: $weight; // 400, 700
  // 基準值為14px
  $defaultSize: 14px;
  // $calcSize: convertRem($size, $defaultSize);
  @if ($family == "") {
    font-family: "Quicksand", "Noto Sans TC";
  } 
  @if ($family != "") {
    font-family: $family;
  } 
  font-size: $size;

  @if $size <= 12px {
    letter-spacing: 1px;
  }
  @if $size == 14px {
    letter-spacing: 1.2px;
  }
  @if $size == 16px {
    letter-spacing: 1.3px;
  }
  @if $size == 18px {
    letter-spacing: 1.4px;
  }
  @if $size == 20px {
    letter-spacing: 1.5px;
  }
  @if $size == 20px {
    letter-spacing: 1.6px;
  }
  @if $size == 22px {
    letter-spacing: 1.7px;
  }
  @if $size == 24px {
    letter-spacing: 1.8px;
  }
  @if $size > 32px {
    letter-spacing: 2.6px;
  }
}
